
@{
    ViewBag.Title = "SifremiUnuttumDogrulama";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="llg">
    <p>
        Lütfen Epostanızdaki mailleri kontrol edin ve şifrenizi yenileyin.
    </p>
</div>



