@{
    ViewBag.Title = "Hakkında";
}

<h3>Mecom Nedir?</h3>

<p>Mecom tamamen eğitim amaçlı olarak hazırlanmış ve gerçek hayatta da işe yarar bir proje olması umudu ile başlatışmış bir 
    çalışmadır. Tamamen ücretsiz ve hiçbir ticari kurum ile alakası yoktur.</p>
