@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>

<address>
    Murat Ersin<br />
    <abbr title="Phone">Gsm:</abbr>
    0532 784 72 67
</address>

<address>
    <strong>Eposta:</strong>   <a href="mmuratersin@gmail.com">mmuratersin@gmail.com</a><br />
    <strong>Eposta:</strong> <a href="mmuratersin@live.com">mmuratersin@live.com</a>
</address>