@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <img src="~/images/mecomLogo.png" alt="logo" class="img-responsive logo" />
    <p class="lead">Küçük işletmelerde gelir gider dengesi, fatura, personel takibi gibi işlemlerinizi Mecom ile kolayca gerçekleştirebilirsiniz.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gelir-Gider Takibi</h2>
        <p>
            Gelirlerinizi, giderlerinizi düzenli olarak takip edebilir, yaklaşan ya da güçü geçmiş ödemeleriniz hakkında bilgilendirilirsiniz.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Çalışanlarınızı Unutmadık</h2>
        <p>Çalışanlarınızın aldığı avansları, fazla mesai satteleri ve varsa ikramiyeleri ile birlikte aylık alacaklarını sisteminizden görebilirsiniz.</p>
    </div>
    <div class="col-md-4">
        <h2>Düzenli Raporlama</h2>
        <p>Şirketiniz hakkındaki bütün detayları düzenli olarak size raporlarız. BU raporlar arşivlenir ve istediğiniz zaman ulaşabilirsiniz.</p>
    </div>
</div>